<!DOCTYPE html>
  <head>
    <h4><%= @figure.name %></h4>
    <% @figure.titles.each do |title| %>
    <li><%= title.name %></li>
    <% end %>
    <li><%= @figure.landmarks %></li>
  </head>
</html>
